---
title: "Publications"
permalink: /publications/
---

We published research in various formats, including posters, conferences, and
journals, focusing on top venues in Visualization, VR/AR, and HCI.

{% assign lab_publications = site.data.publications
  | where_exp: "pub", "pub.year >= site.lab_start_year"
  | sort: "date"
  | reverse %}
{% assign publications_by_year = lab_publications | group_by: "year" %}

{% for year in publications_by_year %}
<section id="{{ year.name }}" class="taxonomy__section">
  <h2 class="archive__subtitle">{{ year.name }}</h2>
  <div>
    {% for pub in year.items %}
      {% include publication.html pub=pub %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">
    {{ site.data.ui-text[site.locale].back_to_top | default: "Back to Top" }} &uarr;
  </a>
</section>
{% endfor %}
