<div
  style="
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    padding-bottom: 1em;
  "
>
  <div style="height: 5em">
    <img
      src="/assets/images/publications/{{ pub.imgSrc }}"
      alt="{{ pub.paperTitle }}"
      style="object-fit: cover; height: 100%; min-width: 100%"
    />
  </div>
  <div style="font-size: 0.8rem">
    <div>
      <a href="{{ pub.link }}"><strong>{{ pub.paperTitle }}</strong></a>
    </div>
    <div>
      <small>
        {% for author in pub.authors %} {% assign person = site.data.people |
        where: "name", author | first -%} {%- if person -%}
        <strong>{{ author }}</strong>
        {%- else -%} {{ author }} {%- endif -%} {% unless forloop.last %}, {%
        endunless %} {% endfor %}
      </small>
    </div>
    <div>
      <small>{{ pub.conference }} {{ pub.year }}</small>
    </div>
    {% if pub.award %}
    <div style="color: brown"><small>{{ pub.award }}</small></div>
    {% endif %}
  </div>
</div>
